<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Survey</title>
    <link rel="stylesheet" href="/static/css/que_card.css">
</head>
<body>
    <div class="survey-card">
        <h2 class="heading-2">Let's find your career!</h2>
        <p class="survey-card__question">Do you enjoy working with computers?</p>
        <div class="button-container">
            <button id="yesButton" class="survey-card__button">Yes</button>
            <button id="noButton" class="survey-card__button">No</button>
        </div>
    </div>
    

    <!-- JavaScript file to handle swipe logic -->
    <script src="/static/js/que_card.js"></script>
</body>
</html>
